.general-info-inputs {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.general-info-inputs label{
    font-size: large;
}

.general-info-inputs input, 
.general-info-inputs select{
    width: 120px;
    height: 20px;
    margin-left: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}

.label-input{
    margin-bottom: 10px;
    display: flex;
}

.label-input label {
    margin-bottom: 5px;
    width: 100px;
    text-align: left;
    margin-left: 8px;
}