<!DOCTYPE html PUBLIC "-//HbbTV//1.1.1//EN" "http://www.hbbtv.org/dtd/HbbTV-1.1.1.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>HBBTV App</title>
    <meta http-equiv="Content-Type" content="application/vnd.hbbtv.xhtml+xml; utf-8" />
    <link rel="stylesheet" href="static/hbbtv-app.css" />
    <script type="text/javascript" src="static/hbbtv-app-buttons.js"></script>
    <script type="text/javascript" src="static/hbbtv-app.js"></script>
    <script type="text/javascript" src="static/display-ad.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body onload="request_Ad()">
    <div>
        <object type="application/oipfApplicationManager" id="applicationManager"> </object>
        <object type="video/broadcast" id="broadcastVideo"> </object>
    </div>
    <!-- we shall define a safe area for the main scene -->
    <div class="safe_area" id="app_area">
        <!-- title -->
        <div class="title_text">AD Interaction</div>
        <!-- status -->
        <div class="status_text">Press the down arrow to check in which stores the product is available: <span id="shop_field" style='margin-left: 10px'></span>
        </div>
        <div class="status_text">Press the up arrow to get a 10% discount-code for our online shop: <span id="code_field" style='margin-left: 10px'></span>
        </div>
        <div class="status_text">Press the left or right arrow to get more information and go to our webshop<span id="navigation_field"></span>
        </div>

        <!-- bottom legend -->
        <div class="bottom_legend">
            <div class="legend_cell">
                <div class="legend_button_red"></div>
                <span class="legend_text">Hide this scene</span>
            </div>
            <div class="legend_cell">
                <div class="legend_button_green"></div>
                <span class="legend_text" id="toggle_playback_field"></span>
            </div>
            <div class="legend_cell">
                <div class="legend_button_yellow"></div>
                <span class="legend_text" id="toggle_numeric_field"></span>
            </div>
            <div class="legend_cell">
                <div class="legend_button_blue"></div>
                <span class="legend_text">Prevent all buttons</span>
            </div>
        </div>
    </div>
    <!-- <div class="red_button_style" id="red_button_notification_field">Press the red button on the RC to start!</div> -->
</body>

</html>