<!DOCTYPE html PUBLIC "-//HbbTV//1.1.1//EN" "http://www.hbbtv.org/dtd/HbbTV-1.1.1.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>HBBTV App</title>
    <meta http-equiv="Content-Type" content="application/vnd.hbbtv.xhtml+xml; utf-8" />
    <link rel="stylesheet" href="static/hbbtv-app.css" />
    <script type="text/javascript" src="static/hbbtv-app-buttons.js"></script>
    <script type="text/javascript" src="static/display-ad.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body onload="wait_before_requesting_first_ad()">
    <div>
        <object type="application/oipfApplicationManager" id="applicationManager"> </object>
        <object type="video/broadcast" id="broadcastVideo"> </object>
    </div>
</body>

</html>