.elements-toolbar {
    background: #47556c;
    border: 2px solid white;
    border-radius: 5px;
    width: 95%;
}

.tools {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
    font-size: small;
    color: black;
}

.tool-text {
    border: 1px solid darkblue;
    padding: 0.25rem;
    background: aliceblue;
    transition: background 200ms ease-in-out;
    user-select: none;
    cursor: grab;
    margin-bottom: 30px;
    width: 70px;
}

.tool-portrait {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid darkblue;
    width: 70px;
    margin-bottom: 30px;
    padding: 0.25rem;
    background: aliceblue;
    transition: background 200ms ease-in-out;
    user-select: none;
    cursor: grab;
    aspect-ratio: 1 / 1;
}

.tool-landscape {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid darkblue;
    width: 70px;
    margin-bottom: 30px;
    padding: 0.25rem;
    background: aliceblue;
    transition: background 200ms ease-in-out;
    user-select: none;
    cursor: grab;
    aspect-ratio: 16 / 9;
}

.tool-skyscraper {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid darkblue;
    width: 70px;
    margin-bottom: 30px;
    padding: 0.25rem;
    background: aliceblue;
    transition: background 200ms ease-in-out;
    user-select: none;
    cursor: grab;
    aspect-ratio: 9 / 16;
}

.tool-text:hover, .tool-text:active, .tool-text:focus,
.tool-image:hover, .tool-image:active, .tool-image:focus {
    background: lightblue;
}

.tool-text.dragged,
.tool-image.dragged {
    cursor: grabbing;
}