<!DOCTYPE html>
<html>

<head>
    <title>AWT Tutorials</title>
</head>

<body>
    <style>
        .content-container {
            display: flex;
            width: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: auto;
        }
        
        .tutorials {
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            width: 100px;
            height: 100px;
            border: 1px solid black;
        }
    </style>
    <div class="content-container">
        <div class="tutorials">
            <a href="/tutorial1">Tutorial 1</a>
        </div>
        <div class="tutorials">
            <a href="/tutorial2">Tutorial 2</a>
        </div>
        <div class="tutorials">
            <a href="/tutorial3">Tutorial 3</a>
        </div>
    </div>
</body>

</html>