.banner-standard {
    position: absolute;
    left: 200px;
    right: 200px;
    bottom: 30px;
    height: 100px;
    background: rgba(107, 123, 156, 0.5);
    border: 1px solid black;
    overflow: hidden;
}

.banner-L-left{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 100px; 
    width: 200px;
    background: rgba(107, 123, 156, 0.5);
    border: 1px solid black;
    overflow-x: visible;
    overflow-y: hidden;
}

.banner-L-bottom{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100px;
    background: rgba(107, 123, 156, 0.5);
    border: 1px solid black;
    border-left: none;
    overflow-x: visible;
    overflow-y: hidden;
}

.banner-element{
    position: absolute;
    margin-right: 20px;
}

.remove-button-div{
    position: absolute;
    top: 0;
    right: 0;
}

.remove-button{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    top: 0;
    right: 0;
}

.is-over {
    background: rgba(107, 123, 156, 0.8);
}

.banner-text-element {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    border: 1px solid black;
}

.banner-image-element {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border: 1px solid black;
}