.editor {
    height: 500px;
    width: 95%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    border: 1px solid lightgray;
    margin-top: 1rem;
}

.tv-background {
    position: absolute;
    background: rgb(203, 203, 235);
    border: 2px solid gray;
    top: 0;
    left: 0;
    bottom: 0;
    right: 200px;
}

.elements-toolbar {
    position: absolute;
    background: #CFC;
    border: 2px solid gray;
    top: 0;
    right: 0;
    bottom: 0;
    width: 200px;
}

.banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 200px;
}

.banner-inputs{
    width: 95%;
    min-height: 100px;
    position: relative;
    background: wheat;
    border: 2px solid gray;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.general-info{
    display: flex;
    flex-direction: column;
    width: 45%;
    align-items: center;
    border-right: 1px solid black;
}


.individual-info{
    width: 45%;
    border-right: 1px solid black;
}


.submit-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
}

.sumbit-banner-button{
    width: 200px;
    height: 70px;
    background-color: aliceblue;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.sumbit-banner-button:hover{
    background-color: rgb(204, 230, 252);
    cursor: pointer;
}

.sumbit-banner-button:active{
    background-color: rgb(151, 204, 250);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.is-dragged {
    opacity: 0.5;
}